user.bazelrc

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
bazel-bin
bazel-out
bazel-pelton
bazel-testlogs

# Output directiory for testing
.out
test
test2
test3
db

# others
.idea/
cmake-build-debug/
.clwb

**/CMakeLists.txt

.DS_Store
.vscode/


# Rust 

# Build directory
target/
# Lockfile
Cargo.lock
# Raze output directory
cargo/